.App {
	text-align: center;
}

h1{
	margin-top: 20px;
}
@media (min-width:483px) {
	h1:after{
		display: inline-block;
		margin: 0 0 8px 20px;
		height: 3px;
		content: " ";
		text-shadow: none;
		background-color: #999;
		width: 15%;
	}

	h1:before{
		display: inline-block;
		margin: 0 20px 8px 0;
		height: 3px;
		content: " ";
		text-shadow: none;
		background-color: #999;
		width: 15%;
	}
}
.btn {
	margin-top: 30px;
	margin-bottom: 20px;
	width: 200px;
}

.ScoreBoard{
	margin-top: 15px;
	borderBottomColor: 'black';
    borderBottomWidth: 1;
}
.score{
	/*display: inline-block;
	padding-left: 100px;*/
	position: relative;
	float: left;
	min-height: 1px;
	width: 33%;
}

.People {
	margin-top: 80px;
}

.Person {
	position: relative;
	min-height: 1px;
	padding-right: 10px;
	width: 20%;
	float: left;
}

.Person span {
	transition: all .5s ease-in;
	text-align: center;
	position: absolute;
	opacity: 1;
    bottom: 0px;
    left: 0px;
    right: 10px;
    top: 0px;
	display: block;
}
.Person span h4{
	transition: all .5s linear;
	position: absolute;
    bottom: 10px;
    left: 0px;
    right: 0px;
    color: white;
}


.Person span.hidden{
	opacity: 0;
	display: none;
}

.row{
	margin: 20px;
	margin-top: 50px;
}

.right{
	transition: all .5s ease-in;
	background-color: rgba(0,200,0,0.5);
}
.wrong{
	transition: all .5s ease-in;
	background-color: rgba(200,0,0,0.5);
}

.Octicon{
	color: white;
}

.game-appear {
  opacity: 0.01;
}

.game-appear.game-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.game-enter {
  opacity: 0.01;
}

.game-enter.game-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.game-leave {
  opacity: 1;
}

.game-leave.game-leave-active {
  opacity: 0.01;
  display: none;
  transition: all 300ms ease-in;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;

  transition: opacity .5s ease-in;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  display: none;
  transition: all 100ms ease-in;
}